body {
  margin: 0;
}
.container {
  border: 30px solid rgba(62, 60, 63, 0.2);
  margin: 10px;
}
.container h1 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  grid-area: h1;
  padding-left: 20px;
}

.users {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, flex);
  grid-gap: 30px;
}

.p {
  display: flex;
}

.user {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(205, 185, 224, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 20px;
  line-height: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, flex);
  grid-gap: 30px;
}
